{
    "bracketSpacing": true,
    "importOrderCaseInsensitive": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "jsxSingleQuote": false,
    "noMultipleEmptyLines": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": [
        "prettier-plugin-sort-imports"
    ],
    "importTypeOrder": [
        "NPMPackages",
        "localImports"
    ],
    "newlineBetweenTypes": true,
    "sortingMethod": "alphabetical",
    "stripNewlines": true,
    "overrides": [
        {
            "files": "*.mjs",
            "options": {
                "editorconfig": false,
                "parser": "typescript"
            }
        },
        {
            "files": "*.mts",
            "options": {
                "editorconfig": false,
                "parser": "typescript"
            }
        }
    ]
}
